# keys and other settings
import time

PRESSURE_MONITOR_INTERVAL = 60  # seconds

# Options are ULTRAHIGHRES, HIGHRES and STANDARD
BMP180_RESOLUTION = "ULTRAHIGHRES"
BMP180_ELEVATION = 22.84 + 3.0  # elevation, m, above sea level.
RH_DEVICE = "AM2302"   # AM2302, DHT22 or DHT11
RH_PIN = 23  # Broadcom pin numbering

# Un-comment and set correctly if an indicator LED is connected
# and to be used
# INDICATOR_LED = 18 # Broadcom pin numbering

# Un-comment to disable measuring of atmospheric pressure
# with BMP180 (and BMP180 temp, by association)
# MEASURE_PRESSURE = False

# Un-comment to disable measuring of relative humidity
# with DHT device (and DHT temp, by association)
# MEASURE_RH = False

# Un-comment to enable reporting of WiFi strength
# MEASURE_WLAN = True

# Default is wlan0, but can specify WLAN device here
# WLAN_INTERFACE = "wlan0"

# DS18b20 device IDs mapped to locations
DALLAS_TEMP_DEVICES = [
    ('28-031467d30cff', 'Front'),
    ('28-0314679a5fff', 'Back')
    ]

INFLUXDB = {
    "host": "localhost",
    "port": 8086,
    "username": "root",
    "password": "root",
    "database": None,
    "ssl": False,
    "verify_ssl": True,
    "use_udp": False,
    "udp_port": 4444
    }

INFLUXDB_B = {
    "host": "otherhost.com",
    "port": 8086,
    "username": "root",
    "password": "root",
    "database": None,
    "ssl": False,
    "verify_ssl": True,
    "use_udp": False,
    "udp_port": 4444
    }

LOGGERS = {
        'librato': {
            'logger': 'librato_logger.LibratoLogger',
            'metric': 'power',
            'user': 'USER NAME HERE',
            'token': 'KEY HERE',
            'enabled': False
            },
        'influx_primary': {
            'logger': 'influx_logger.InfluxLogger',
            'metric': 'electricty_power',
            'value': 'power',
            'host_settings': INFLUXDB_HOSTED,
            'enabled': False,
            'update_period': 5  # seconds between uploads (default is 5s)
            },
        'influx_secondary': {
            'logger': 'influx_logger.InfluxLogger',
            'metric': 'electricty_power',
            'value': 'power',
            'host_settings': INFLUXDB_B,
            'enabled': False
            },
        'local_file': {
            'logger': 'file_logger.FileLogger',
            'fpath': "/tmp/power_{}.txt".format(int(time.time())-1422000000)
            }
    }
